<%= render 'shared/restricted_message' %>

<h1>Data Files</h1>

<%= link_to 'Add New Data File', new_data_file_path, class: 'btn pull-right heading__inline' %>

<table class="responsive no-wrap datatable">
  <thead>
    <tr>
      <th>Files</th>
      <th>Part</th>
      <th>File type a</th>
      <th>File type b</th>
      <th>File type tech</th>
      <th>Note</th>
      <th>Study num</th>
      <th>Study</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_files.each do |data_file| %>
      <tr>
        <td><%= data_file.files %></td>
        <td><%= data_file.part %></td>
        <td><%= data_file.file_type_a %></td>
        <td><%= data_file.file_type_b %></td>
        <td><%= data_file.file_type_tech %></td>
        <td><%= data_file.note %></td>
        <td><%= data_file.study_num %></td>
        <td><%= data_file.study_id %></td>
        <td><%= link_to 'Show', data_file %></td>
        <td><%= link_to 'Edit', edit_data_file_path(data_file) %></td>
        <td><%= link_to 'Destroy', data_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
