<%= link_to 'Edit this Data File', edit_data_file_path(@data_file), class: 'btn pull-right heading__inline' %>
<%= link_to 'Back to Data Files', data_files_path, class: 'btn pull-left heading__inline' %>

<h1 class="heading__block">Data File</h1>

<dl>
  <dt>Legacy</dt>
  <dd><%= @data_file.legacy_id %></dd>

  <dt>Files</dt>
  <dd><%= @data_file.files %></dd>

  <dt>Size</dt>
  <dd><%= @data_file.size %></dd>

  <dt>Comp size</dt>
  <dd><%= @data_file.comp_size %></dd>

  <dt>Line count</dt>
  <dd><%= @data_file.line_count %></dd>

  <dt>Line length</dt>
  <dd><%= @data_file.line_length %></dd>

  <dt>Part</dt>
  <dd><%= @data_file.part %></dd>

  <dt>File type a</dt>
  <dd><%= @data_file.file_type_a %></dd>

  <dt>File type b</dt>
  <dd><%= @data_file.file_type_b %></dd>

  <dt>File type tech</dt>
  <dd><%= @data_file.file_type_tech %></dd>

  <dt>Flag one</dt>
  <dd><%= @data_file.flag_one %></dd>

  <dt>Flag two</dt>
  <dd><%= @data_file.flag_two %></dd>

  <dt>Note</dt>
  <dd><%= @data_file.note %></dd>

  <dt>Study number</dt>
  <dd><%= @data_file.study_num %></dd>

  <dt>Permission</dt>
  <dd><%= @data_file.permission %></dd>

  <dt>Timestamp</dt>
  <dd><%= @data_file.timestamp %></dd>

  <dt>Study</dt>
  <dd><%= @data_file.study_id %>
  <%= link_to '(View Related Study)', study_path(@data_file.study_id) %></dd>
</dl>
