<p id="notice"><%= notice %></p>

<p>
  <strong>Legacy:</strong>
  <%= @data_file.legacy_id %>
</p>

<p>
  <strong>Files:</strong>
  <%= @data_file.files %>
</p>

<p>
  <strong>Size:</strong>
  <%= @data_file.size %>
</p>

<p>
  <strong>Comp size:</strong>
  <%= @data_file.comp_size %>
</p>

<p>
  <strong>Line count:</strong>
  <%= @data_file.line_count %>
</p>

<p>
  <strong>Line length:</strong>
  <%= @data_file.line_length %>
</p>

<p>
  <strong>Part:</strong>
  <%= @data_file.part %>
</p>

<p>
  <strong>File type a:</strong>
  <%= @data_file.file_type_a %>
</p>

<p>
  <strong>File type b:</strong>
  <%= @data_file.file_type_b %>
</p>

<p>
  <strong>Flag one:</strong>
  <%= @data_file.flag_one %>
</p>

<p>
  <strong>Flag two:</strong>
  <%= @data_file.flag_two %>
</p>

<p>
  <strong>File type a:</strong>
  <%= @data_file.file_type_a %>
</p>

<p>
  <strong>File type tech:</strong>
  <%= @data_file.file_type_tech %>
</p>

<p>
  <strong>Note:</strong>
  <%= @data_file.note %>
</p>

<p>
  <strong>Study num:</strong>
  <%= @data_file.study_num %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @data_file.permission %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @data_file.timestamp %>
</p>

<p>
  <strong>Study:</strong>
  <%= @data_file.study_id %>
</p>

<%= link_to 'Edit', edit_data_file_path(@data_file) %> |
<%= link_to 'Back', data_files_path %>
