  <header class="lux">
    <library-header app-name="<%= application_name %>" app-url="<%= root_path %>">
      <% if has_user_authentication_provider? %>
        <% if current_user %>
        <dropdown-menu button-label="<%= current_user.to_s %>" type="links" :menu-items="[
          <% unless current_user.to_s.blank? -%>
          {name: '<%= current_user %>', component: '<%= current_user %>', href: '<%= edit_user_registration_path %>'},
          <% end %>
          {name: '<%= t('blacklight.header_links.saved_searches') %>', component: '<%= t('blacklight.header_links.saved_searches') %>', href: '<%= blacklight.saved_searches_path %>'},
          {name: '<%= t('blacklight.header_links.search_history') %>', component: '<%= t('blacklight.header_links.search_history') %>', href: '<%= blacklight.search_history_path %>'},
          {name: '<%= t('blacklight.header_links.logout') %>', component: '<%= t('blacklight.header_links.logout') %>', href: '<%= destroy_user_session_path %>'}
        ]"/>
        <% else %>
        <menu-bar type="links" active="All" :menu-items="[
          {name: '<%= t('blacklight.header_links.login') %>', component: '<%= t('blacklight.header_links.login') %>', href: '<%= new_user_session_path %>'}
        ]"/>
        <% end %>
      <% end %>
    </library-header>
  </header>
  <div class="navigation">
    <div class="container">
      <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
          <%= render :partial => 'pul-assets/blacklight/catalog/search_form' %>
          <%= render :partial => 'pul-assets/blacklight/user_util_links' %>
      </div>
    </div>
  </div>

  <main id="main-content">
    <div class="container">
      <div class="banner">
        <%= image_tag "dss_banner_cropped.jpg", alt: "" %>
      </div>
