<div class="container--catalog">
  <div id="content" class="content--catalog">
    <div class="middle-content static">
      <h2>DSS lab schedule, walk-in hours (subject to change without prior notice).</h2>
      <p><b>No appointments necessary, feel free to stop by anytime during the posted walk-in hours. Please see the note right below the
      calendar.</b></p>

      <iframe
      src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=1qqdebscfqhh1md00pfjeh7pg4%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FNew_York"
      style=" border-width:0 " width="1000" height="600" frameborder="0"
      scrolling="no"></iframe>

      <h1>Using the DSS lab during walk-in hours</h1>

      <p> During the walk-in hours, the DSS lab is reserved for researchers requiring the assistance of the data and statistics consultants.
      For those researchers not needing immediate assistance, we advise to use the lab outside the walk-in hours. </p>

      <p>You can run Stata through the Nobel server on your own laptop (<a
      href="http://dss.princeton.edu/online_help/stats_packages/stata/stata_unix.htm">click here for instructions</a>). Stata is also available on
      OIT clusters (<a href="http://www.princeton.edu/clusters/map/">click here for a clusters map</a>). </p>

      <p>PCs left unattended for longer periods of time during the walk-in hours will be assigned to other students as needed.  PCs cannot be reserved
      during the walk-in hours.</p>

      <p>Once in the lab please alert the consultants that you need assistance, or if you have waited long please do not hesitate
      in letting the consultants on-duty know.</p>

      <!--<p>If the lab gets crowded and you need a machine with Stata and/or R you can use the OIT cluster Mac computers located in B-floor
      (B-5-K) <a
      href="http://dss.princeton.edu/dsslab/BfloorOIT.pdf">click here for a map</a>. A full list of the available software is listed <a
      href="http://www.princeton.edu/clusters/macsoftware/">here.</a></p> -->

      <!-- <p>As an alternative, you can run Stata in your own laptop, see instructions <a
      href="http://dss.princeton.edu/online_help/stats_packages/stata/stata_unix.htm">here.</a> </p> -->


      <h1>Consulting services </h1>

      <p>Statistical consulting services are available to currently enrolled/employed members of Princeton University. DSS <a href="/consultants"> consultants</a> provide statistical and software assistance in quantitative analysis of electronic data as part of independent research projects, such as junior papers, senior theses, term papers, dissertations, and scholarly articles. We advise about the choice and application of quantitative methods, the conversion of data from one format to another, and the interpretation of statistical analyses. The statistical packages supported are Stata, SPSS, and R.</p>

      <p>The lab is very crowded from February to April with primarily juniors and seniors working on their junior paper or senior thesis. Please <b>plan ahead</b> if you need extensive assistance.</p>

      <p><b><font color="red"> NOTE:</font></b> We do not provide assistance with homework assignments, problem sets or take-home exams but students are welcome to use our online resources, tutorials and computing resources.</p>

      <p>For a DSS brochure, <%= link_to "click here", asset_path("DSSBrochure.pdf") %></p>

      <p>For a DSS tutorials brochure, <%= link_to "click here", asset_path("DSSTutorials.pdf") %></p>

      <p>For a DSS poster, <%= link_to "click here", asset_path("DSS.pdf") %></p>

      <h2>Location</h2>

      <p>The DSS computer lab is located at <b>A-12-G</b> (A-floor, <%= link_to "click here for a map", asset_path("DSSlab.pdf") %>) in <%= link_to "Firestone Library", "https://library.princeton.edu/firestone" %></p>

      <h2>Hours</h2>

      <p>The lab is open when <a href="https://library.princeton.edu/hours/firestone">Firestone Library is open</a>.  If you would like to use lab computers and do not need assistance, you may come in anytime when the library is open.  Assistance is provided according to the staffing schedule posted on the sidemenu on the left.  If you need assistance but can not come during the staffed hours, please email <a href="mailto:data@princeton.edu">data@princeton.edu </a>. When requesting an appointment, and to make the most out of it, please provide as much information as possible so we can better plan a way to help you. </p>

      <h2>Making the most from the consultation</h2>
      <b>Before coming to the lab:</b>

      <p><b>At an earlier stage in your research:</b></p>

      <ul>
        <li>Have a feasible research question, <%= link_to "click here for some tips on crafting research questions", asset_path("FindingData101.pdf#page=5") %></li>
        <li>Try to locate the data you need, <%= link_to "click here for some tips on finding data", asset_path("FindingData101.pdf#page=3") %></li>
        <li>Identify the variables relevant your research question.</li>
        <li>Use the coodebook to understand your data</li>
        <li>Unlike homework assignments independent research can't be done overnight. JPs, senior theses, term papers, dissertation take time and resources. Once you define your research question you need to get the data, select the variables, clean and prepare them for analysis, select the model, interpret the results, write the conclusions. So, plan ahead and start as early as possible.</li>
      </ul>

      <p><b>During or at a later stage in your research:</b></p>

      <ul>
        <li>Make sure your advisor is on board and approves what you want to do. Remember, he or she will grade your work!</li>
        <li>DSS consultants can guide you throughout your research but you are responsible for what goes into your paper.</li>
        <li>Have a plan for your project as a whole. A written time-line and "to-do" list will be veryhelpful. During busy times, consultants may not be able to give  as much personalized attention, so knowing specifically what you need to ask will make your time more efficient. </li>
        <li>Keep a log of everything you do related to your research, even steps that did not work. This will come in handy by the time you write the final version of your paper and, most importantly, the methodology section.</li>
      </ul>
    </div>

    <%= render 'shared/right-sidebar' %>
  </div>
</div>
