<%= form_for(study) do |f| %>
  <% if study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :legacy_id %>
    <%= f.number_field :legacy_id %>
  </div>

  <div class="field">
    <%= f.label :studynum %>
    <%= f.number_field :studynum %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </div>

  <div class="field">
    <%= f.label :icpsr_num %>
    <%= f.text_field :icpsr_num %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :directory %>
    <%= f.text_field :directory %>
  </div>

  <div class="field">
    <%= f.label :folder %>
    <%= f.text_field :folder %>
  </div>

  <div class="field">
    <%= f.label :r_flag %>
    <%= f.check_box :r_flag %>
  </div>

  <div class="field">
    <%= f.label :timestamp %>
    <%= f.datetime_select :timestamp %>
  </div>

  <div class="field">
    <%= f.label :auto_refresh %>
    <%= f.check_box :auto_refresh %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.cktext_area :note %>
  </div>

  <div class="field">
    <%= f.label :roper %>
    <%= f.text_field :roper %>
  </div>

  <div class="field">
    <%= f.label :voyager_id %>
    <%= f.number_field :voyager_id %>
  </div>

  <h3>Tags</h3>
  <div class="field">
    <div class="field_head">Regions</div>
    <%= select_tag "study[region_ids]", options_from_collection_for_select(Region.order(:name), 'id', 'name', @study.regions.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <div class="field">
    <div class="field_head">Countries</div>
    <%= select_tag "study[country_ids]", options_from_collection_for_select(Country.order(:name), 'id', 'name', @study.countries.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <div class="field">
    <div class="field_head">Subjects</div>
    <%= select_tag "study[subject_ids]", options_from_collection_for_select(Subject.order(:name), 'id', 'name', @study.subjects.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <h3>Related Resource</h3>
  <div class="field">
    <div class="field_head">Select the Resource this Study is associated with</div>
      <%= select_tag "study[resource_id]", options_from_collection_for_select(Resource.order(:name), 'id', 'name', @study.resource_id), multiple: false, class: 'select2', include_blank: true %>
    </div>
  </div>
  <tr>
    <td colspan='6'>
      <%= build_file_path(@study.folder) %>
    </td>
  </tr>
  <h3>Attached Files</h3>
  <table>
    <%= f.fields_for :data_files do |data_files_form| %>
      <tr>
        <td>
          <%= data_files_form.label :files %>
          <%= data_files_form.text_field :files %>
        </td>
        <td>
          <%= data_files_form.label :part %>
          <%= data_files_form.text_field :part %>
        </td>
        <td>
          <%= data_files_form.label :file_type_a %>
          <%= data_files_form.text_field :file_type_a %>
        </td>
        <td>
          <%= data_files_form.label :file_type_b %>
          <%= data_files_form.text_field :file_type_b %>
        </td>
        <td>
          <%= data_files_form.label :file_type_tech %>
          <%= data_files_form.text_field :file_type_tech %>
        </td>
        <td>
          <%= data_files_form.label :note %>
          <%= data_files_form.text_field :note %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="form-actions">
    <%= f.submit %>
  </div>

<% end %>
