<p id="notice"><%= notice %></p>

<h1>Studies</h1>

<table>
  <thead>
    <tr>
      <th>Legacy</th>
      <th>Studynum</th>
      <th>Title</th>
      <th>Medium</th>
      <th>Icpsr num</th>
      <th>Url</th>
      <th>Directory</th>
      <th>Folder</th>
      <th>R flag</th>
      <th>Timestamp</th>
      <th>Auto refresh</th>
      <th>Note</th>
      <th>Roper</th>
      <th>Voyagre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.legacy_id %></td>
        <td><%= study.studynum %></td>
        <td><%= study.title %></td>
        <td><%= study.medium %></td>
        <td><%= study.icpsr_num %></td>
        <td><%= study.url %></td>
        <td><%= study.directory %></td>
        <td><%= study.folder %></td>
        <td><%= study.r_flag %></td>
        <td><%= study.timestamp %></td>
        <td><%= study.auto_refresh %></td>
        <td><%= study.note %></td>
        <td><%= study.roper %></td>
        <td><%= study.voyagre_id %></td>
        <td><%= link_to 'Show', study %></td>
        <td><%= link_to 'Edit', edit_study_path(study) %></td>
        <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study', new_study_path %>
