<p id="notice"><%= notice %></p>

<h1><%= @study.title %></h1>
<!--
<p>
  <strong>Legacy:</strong>
  <%= @study.legacy_id %>
</p>
-->
<p>
  <strong>Study Number:</strong>
  <%= @study.studynum %>
</p>

<!--
<p>
  <strong>Medium:</strong>
  <%= @study.medium %>
</p>
-->
<p>
  <strong>Icpsr num:</strong>
  <%= @study.icpsr_num %>
</p>

<p>
  <strong>Url:</strong>
  <%= @study.url %>
</p>
<!--
<p>
  <strong>Directory:</strong>
  <%= @study.directory %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @study.folder %>
</p>

<p>
  <strong>R flag:</strong>
  <%= @study.r_flag %>
</p>

<p>
  <strong>Last Update:</strong>
  <%= @study.timestamp %>
</p>

<p>
  <strong>Auto refresh:</strong>
  <%= @study.auto_refresh %>
</p>
-->
<p>
  <strong>Note:</strong>
  <%= @study.note %>
</p>

<!--
<p>
  <strong>Roper:</strong>
  <%= @study.roper %>
</p>
-->
<% unless @study.voyager_id.nil? %>
<p>
  <strong>Catalog:</strong>
  <%= catalog_path(@study.voyager_id) %>
</p>
<% end %>

<% unless @study.data_files.nil? %>
  <% if @study.r_flag %>
    <h3>Restricted Data</h3>
    <%= render 'r_flag_message' %>
  <% else %>
    <h3>Data Files</h3>
    <p>This dataset is located on the DSS Server. If you are at a computer connected to the Princeton Network, you should be able to access it through the following links:</p>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Part</td>
          <td>File Type</td>
          <td>File Techology</td>
          <td>Note</td>
          <td>Edit</td>
        </tr>
      </thead>
      <tbody>
        <% @study.data_files.each do |data_file| %>
          <tr>
            <td><%= build_file_path(@study.folder, data_file.files) %></td>
            <td><%= data_file.part %></td>
            <td><%= data_file.file_type_a %></td>
            <td><%= data_file.file_type_b %></td>
            <td><%= data_file.file_type_tech %></td>
            <td><%= data_file.note %></td>
            <td><%= link_to 'EDIT', edit_data_file_path(data_file.id) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan='6'>
            <%= build_file_path(@study.folder) %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
