<p id="notice"><%= notice %></p>

<p>
  <strong>Legacy:</strong>
  <%= @study.legacy_id %>
</p>

<p>
  <strong>Studynum:</strong>
  <%= @study.studynum %>
</p>

<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @study.medium %>
</p>

<p>
  <strong>Icpsr num:</strong>
  <%= @study.icpsr_num %>
</p>

<p>
  <strong>Url:</strong>
  <%= @study.url %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @study.directory %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @study.folder %>
</p>

<p>
  <strong>R flag:</strong>
  <%= @study.r_flag %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @study.timestamp %>
</p>

<p>
  <strong>Auto refresh:</strong>
  <%= @study.auto_refresh %>
</p>

<p>
  <strong>Note:</strong>
  <%= @study.note %>
</p>

<p>
  <strong>Roper:</strong>
  <%= @study.roper %>
</p>

<p>
  <strong>Voyager:</strong>
  <%= @study.voyager_id %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
