<% unless @study.resource.nil? %>
  <%= link_to 'Back to Resource', solr_document_path("resource#{@study.resource_id}"), class: 'btn pull-right heading__inline' %>
<% end %>
<% if admin_user? %>
  <%= link_to 'Edit this Study', edit_study_path(@study), class: 'btn pull-right heading__inline' %>
  <%= link_to 'Back to Studies', studies_path, class: 'btn pull-left heading__inline' %>
<% end %>
</div>
<h1 class="heading__block"><%= @study.title %></h1>

<dl>
  <!-- <dt>Legacy</dt> -->
  <!-- <dd><%#= @study.legacy_id %></dd> -->

  <dt>Study number</dt>
  <dd><%= @study.studynum %></dd>

  <!-- <dt>Medium</dt> -->
  <!-- <dd><%#= @study.medium %></dd> -->

  <dt>ICPSR number</dt>
  <dd><%= @study.icpsr_num %></dd>

  <dt>URL</dt>
  <dd><%= @study.url %></dd>

  <!-- <dt>Directory</dt> -->
  <!-- <dd><%#= @study.directory %></dd> -->

  <!-- <dt>Folder</dt> -->
  <!-- <dd><%#= @study.folder %></dd> -->

  <!-- <dt>R flag</dt> -->
  <!-- <dd><%#= @study.r_flag %></dd> -->

  <!-- <dt>Last updated</dt> -->
  <!-- <dd><%#= @study.timestamp %></dd> -->

  <!-- <dt>Auto refresh</dt> -->
  <!-- <dd><%#= @study.auto_refresh %></dd> -->

  <dt>Note</dt>
  <dd><%= @study.note %></dd>

  <!-- <dt>Roper</dt> -->
  <!-- <dd><%#= @study.roper %></dd> -->

  <% unless @study.voyager_id.nil? %>
    <dt>Catalog</dt>
    <dd><%= catalog_path(@study.voyager_id) %></dd>
  <% end %>
</dl>

<% if @study.folder.present? && @study.medium == "Server" %>
  <% if @study.r_flag %>
    <h2>Restricted Data</h2>
    <%= render 'r_flag_message' %>
  <% else %>
    <h2>Data Files</h2>
    <% if @user.guest %>
      <div>
        <%= link_to 'Login Via CAS', '/users/auth/cas', class: 'btn btn-md btn-primary btn-full', method: :post %>
      </div>
    <% else %>
      <p>This dataset is located on the DSS Server.
  If you experience any difficulties or have any questions about using the data, please email Data and Statistical Services at data@princeton.edu for assistance. If you are at a computer connected to the Princeton Network, you should be able to access it through the following links:</p>

      <p><%= build_file_path(@study.folder) %></p>
    <% end %>
  <% end %>
<% elsif @study.medium == "CD"%>
  <p>Please go to the Microforms Office - Firestone A Floor and request CD-ROM #<%= @study.studynum %></p>
<% end %>
<div class="row">
