<%= form_for(resource) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :resource_id %>
    <%= f.number_field :resource_id %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.cktext_area :blurb %>
  </div>

  <div class="field">
    <%= f.label :link_time %>
    <%= f.datetime_select :link_time %>
  </div>

  <div class="field">
    <%= f.label :sample %>
    <%= f.text_field :sample %>
  </div>

  <div class="field">
    <%= f.label :principal_investigator %>
    <%= f.text_field :principal_investigator %>
  </div>

  <div class="field">
    <%= f.label :producer %>
    <%= f.text_field :producer %>
  </div>

  <div class="field">
    <%= f.label :distributor %>
    <%= f.text_field :distributor %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.text_field :version %>
  </div>

  <div class="field">
    <%= f.label :more_detail_url %>
    <%= f.text_field :more_detail_url %>
  </div>

  <div class="field">
    <%= f.label :resource_type %>
    <%= f.text_field :resource_type %>
  </div>



  <div class="field">
    <div class="field_head">Regions</div>
    <%= select_tag "resource[region_ids]", options_from_collection_for_select(Region.order(:name), 'id', 'name', @resource.regions.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <div class="field">
    <div class="field_head">Countries</div>
    <%= select_tag "resource[country_ids]", options_from_collection_for_select(Country.order(:name), 'id', 'name', @resource.countries.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <div class="field">
    <div class="field_head">Subjects</div>
    <%= select_tag "resource[subject_ids]", options_from_collection_for_select(Subject.order(:name), 'id', 'name', @resource.subjects.collect(&:id)), multiple: true, class: 'select2' %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
