<%= form_for(resource) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :resource_id %>
    <%= f.number_field :resource_id %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_area :blurb %>
  </div>

  <div class="field">
    <%= f.label :link_time %>
    <%= f.datetime_select :link_time %>
  </div>

  <div class="field">
    <%= f.label :sample %>
    <%= f.text_field :sample %>
  </div>

  <div class="field">
    <%= f.label :principal_investigator %>
    <%= f.text_field :principal_investigator %>
  </div>

  <div class="field">
    <%= f.label :producer %>
    <%= f.text_field :producer %>
  </div>

  <div class="field">
    <%= f.label :distributor %>
    <%= f.text_field :distributor %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.text_field :version %>
  </div>

  <div class="field">
    <%= f.label :more_detail_url %>
    <%= f.text_field :more_detail_url %>
  </div>

  <div class="field">
    <%= f.label :resource_type %>
    <%= f.text_field :resource_type %>
  </div>

  <div class="field">
    <div class="field_head">Regions</div>
    <%= hidden_field_tag("resource[region_ids][]", nil) %>
    <% Region.order(:name).each do |region| %>
        <label>
        <%= check_box_tag("resource[region_ids][]", region.id, region.id.in?(@resource.regions.collect(&:id))) %>  
        <%= region.name %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <div class="field_head">Countries</div>
    <%= hidden_field_tag("resource[country_ids][]", nil) %>
    <% Country.order(:name).each do |country| %>
        <label>
        <%= check_box_tag("resource[country_ids][]", country.id, country.id.in?(@resource.countries.collect(&:id))) %>  
        <%= country.name %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <div class="field_head">Subjects</div>
    <%= hidden_field_tag("resource[subject_ids][]", nil) %>
    <% Subject.order(:name).each do |subject| %>
        <label>
        <%= check_box_tag("resource[subject_ids][]", subject.id, subject.id.in?(@resource.subjects.collect(&:id))) %>  
        <%= subject.name %>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
