<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource</th>
      <th>Url</th>
      <th>Blurb</th>
      <th>Link time</th>
      <th>Sample</th>
      <th>Principal investigator</th>
      <th>Producer</th>
      <th>Distributor</th>
      <th>Version</th>
      <th>More detail url</th>
      <th>Resource type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.resource_id %></td>
        <td><%= resource.url %></td>
        <td><%= resource.blurb %></td>
        <td><%= resource.link_time %></td>
        <td><%= resource.sample %></td>
        <td><%= resource.principal_investigator %></td>
        <td><%= resource.producer %></td>
        <td><%= resource.distributor %></td>
        <td><%= resource.version %></td>
        <td><%= resource.more_detail_url %></td>
        <td><%= resource.resource_type %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
