<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<table class="responsive no-wrap datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource</th>
      <th>Url</th>
      <th>Blurb</th>
      <th>Sample</th>
      <th>Resource type</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.resource_id %></td>
        <td>
          <% unless resource.url.nil? %>
            <%= study_link(resource.url) %></td>
          <% end %>
        <td>
          <% unless resource.blurb.nil? %>
            <%= truncate(resource.blurb.gsub('\\', '').html_safe, :length => 230, :omission => "" , :escape => false) %>
          <% end %>
        </td>
        <td><%= resource.sample %></td>
        <td><%= resource.resource_type %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
