<h1>Resources</h1>

<%= link_to 'Add New Resource', new_resource_path, class: 'btn pull-right heading__inline' %>

<table class="responsive no-wrap datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Resource</th>
      <th class="limit-width word-break">Url</th>
      <th>Blurb</th>
      <th>Sample</th>
      <th>Resource type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.resource_id %></td>
        <td class="limit-width word-break">
          <% unless resource.url.nil? %>
            <%= study_link(resource.url, resource.url) %></td>
          <% end %>
        <td>
          <% unless resource.blurb.nil? %>
            <%= truncate(strip_tags(resource.blurb), :length => 230, :omission => "" , :escape => false) %>
          <% end %>
        </td>
        <td><%= resource.sample %></td>
        <td><%= resource.resource_type %></td>
        <% if admin_user? %>
          <td><%= link_to 'Show', resource, style: "text-decoration: underline" %></td>
          <td><%= link_to 'Edit', edit_resource_path(resource), style: "text-decoration: underline" %></td>
          <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration: underline" %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
