<%= link_to 'Edit this Resource', edit_resource_path(@resource), class: 'btn pull-right heading__inline' %>
<%= link_to 'Back to Resources', resources_path, class: 'btn pull-left heading__inline' %>

<h1 class="heading__block"><%= @resource.name %></h1>

<dl>
  <dt>Resource</dt>
  <dd><%= @resource.resource_id %></dd>

  <dt>URL</dt>
  <dd><%= study_link(@resource.url) %></dd>

  <dt>Blurb</dt>
  <dd>
    <% unless @resource.blurb.nil? %>
      <%= @resource.blurb.gsub('\\', '').html_safe %>
    <% end %>
  </dd>

  <dt>Link time</dt>
  <dd><%= @resource.link_time %></dd>

  <dt>Sample</dt>
  <dd><%= @resource.sample %></dd>

  <dt>Principal investigator</dt>
  <dd><%= @resource.principal_investigator %></dd>

  <dt>Producer</dt>
  <dd><%= @resource.producer %></dd>

  <dt>Distributor</dt>
  <dd><%= @resource.distributor %></dd>

  <dt>Version</dt>
  <dd><%= @resource.version %></dd>

  <dt>More detail URL</dt>
  <dd><%= @resource.more_detail_url %></dd>

  <dt>Resource type</dt>
  <dd><%= @resource.resource_type %></dd>

  <dt>Subjects</dt>
  <dd><%= subject_list(@resource.subject_ids) %></dd>

  <dt>Regions</dt>
  <dd><%= region_list(@resource.region_ids) %></dd>

  <dt>Countries</dt>
  <dd><%= country_list(@resource.country_ids) %></dd>
</dl>


