<h1>Regions</h1>

<div class="region-btn-container">
  <%= link_to 'Add New Region', new_region_path, class: 'btn pull-right heading__inline' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.key_term_id %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
